@font-face {
    font-family: 'RobotoRegular';
    src: url('RobotoRegular.eot');
    src: url('RobotoRegular.eot') format('embedded-opentype'),
         url('RobotoRegular.woff2') format('woff2'),
         url('RobotoRegular.woff') format('woff'),
         url('RobotoRegular.ttf') format('truetype'),
         url('RobotoRegular.svg#RobotoRegular') format('svg');
}